<div class="side-bar-header">
  <h1 class="user-name">Tom</h1>
  <a class="create-a-room" href=#>チャットを作成する</a>
</div>
<div class="my-rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>
